.registrationForm {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.from {
  max-width: 300px;
  padding-top: 24px;
}
.forgot{
  float: right;
}
.button{
  width: 100%;
}